.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #282c34;
  background-size: cover;
}

@media (min-width: 800px ) {
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: flex-end;
      justify-content: center;
  }
}


.font-face-ps{
  font-family: "PressStart";
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #111;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.loader {
  animation: spin 1s linear infinite;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px;
}

@keyframes spin {
  0% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  6.25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  12.5% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  18.75% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  31.25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  37.5% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  43.75% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px #000, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px transparent;
  }
  50% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px #000, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px #000;
  }
  56.25% {
    box-shadow: 
      0px -30px #000, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px #000, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px #000;
  }
  62.5% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px #000, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px #000;
  }
  68.75% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px #000, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px #000;
  }
  75% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px #000, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px #000;
  }
  81.25% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px #000, 
      -20px -20px #000,
      -10px -30px #000;
  }
  87.5% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px #000,
      -10px -30px #000;
  }
  93.75% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px #000;
  }
  100% {
    box-shadow: 
      0px -30px #000, 
      10px -30px #000, 
      20px -20px #000, 
      30px -10px #000, 
      30px 0px #000, 
      30px 10px #000, 
      20px 20px #000, 
      10px 30px #000, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
}